/*
#####################################################################
#
#   Project       : Modal Login with jQuery Effects
#   Author        : Rodrigo Amarante (rodrigockamarante)
#   Version       : 1.0
#   Created       : 07/28/2015
#   Last Change   : 08/02/2015
#
#####################################################################
*/

@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

#window-login #window-login .modal-dialog {
    width: 350px;
}

#window-login input[type=text], input[type=password] {
	margin-top: 10px;
}

#window-login-msg,
#window-forgot-msg,
#window-signup-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#window-login-msg.success,
#window-forgot-msg.success,
#window-signup-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#window-login-msg.error,
#window-forgot-msg.error,
#window-signup-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-forgot-msg,
#icon-signup-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-forgot-msg.success,
#icon-signup-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-forgot-msg.error,
#icon-signup-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

#window-login .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

#window-login .modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

#window-login .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

#window-login .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

#window-login .modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}
